<div class="wrapper--main-page">
  <h3 class="welcome">
    This SPA demonstrates how authentication works.
  </h3>
  <h2>Welcome, User!</h2>
  <p>You are not logged in.</p>
  <h4>You can be properly logged only under the following data:</h4>
  <h3>email: t@t.com  &#9756;  <span class="and"> & </span>  &#9758; password: 1234</h3>
  <figure>
    <img class="image" src="../../../assets/jwt01.png" alt="authentication schema">
    <figcaption>Fig. 1. How works authentication.</figcaption>
  </figure>
</div>
